@charset "utf-8";

         
/* Grid Styles */

body {
   display: grid;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  
}

body > header {
    grid-row: 1;
    grid-column: 1;
}

h1  {
    grid-row: 2;
}

div#outer {
    grid-row: 3/6;
    grid-column: 1;
    grid-column-gap: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    background-color: darkorchid;
    outline : 1px dashed black;
}

div#col1 {
     background-color: aquamarine;
}

div#col2 {
    background-color: beige;
}

div#col3 {
    background-color: aquamarine;
}

div#col4 {
    background-color: beige;
}

div#col5 {
    background-color: aquamarine;
}

div#col6 {
    background-color: beige;
}

footer {
    grid-row: 10;
    grid-column: 1;
}


/* Page Header Styles */

body > header {
    height: 100px;
}

body > header > img {
    max-width: 300px;
    display: block;
    float: left;
}


body > header > nav.horizontalNavigation li {
   width: 8%;
   margin-top: 16px;
}



/* Horizontal Navigation List Styles */

nav.horizontalNavigation > ul > li {
   display: block;
   float: left;
    min-width: 100px;
}

nav.horizontalNavigation a {
   display: block;
   font-family: "Gill Sans", sans-serif;
   font-size: 1.5em;
   line-height: 1.8em;
   text-align: center;
    text-decoration: none;
}  

nav.horizontalNavigation a:link, 
nav.horizontalNavigation a:visited {
   color: #191970;
}

nav.horizontalNavigation a:hover, 
nav.horizontalNavigation a:active {
   color:#483D8B;
} 


/* body Styles */
body > section > img {
    max-width: 960px;
}

h1 {
   color: #191970;
    font-size: 2em;
    letter-spacing: 0.1em;   
   line-height: 2em;
   text-align: center;
}

/* form Styles */
form {
    max-width: 900px;
    margin: 10px;
    line-height: 2em;
}

input {
    border: 0.1px solid #ccc;
    background-color:  #dce3ef;
}

input[type] {
  width: 100%;
  border: 0.1px solid #ccc;
  resize: vertical;
  padding: 10px;
  border-radius: 5px;
}


input#quiry {
    height: 100px;
}

button[type] {
    text-align: center;
    width: 100px;
}

div#buttons {
    text-align: center;
    width: 900px;
}

input[type='submit'], input[type='reset'] {
font-weight: 400;
padding: 5px;
margin: 15px;
width: 100px;
border-radius: 5px;
}


input[type]:hover {
  background-color: #a7bad7;
}

/* footer Styles */

footer {
    text-align: right;
    background-color: #191970;
    height: 50px;
    color: aliceblue;
    padding-top: 10px;
}